name: Push action

on: 
  push

jobs:
  build:
    uses: ./.github/workflows/build.wfc.yml
    with:
      image_tag: 2404-test-11
      yq_version: v4.44.6
      nvim_version: "v0.10.3"
      username: dev
      group_name: g
      user_id: "1000"
      group_id: "1000"
    secrets:
      root_pass: "${{ secrets.DOCKER_IMAGE_ROOT_PASS }}"
      dockerhub_username: "${{ secrets.DOCKERHUB_USERNAME }}"
      dockerhub_token: "${{ secrets.DOCKERHUB_TOKEN }}"
